<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
<h1>Welcome to your dashboard!</h1>
<p>Email: <%= email %></p>
<p>User Type: <%= userType %></p>
<p><a href="/messaging" class="bg-blue-500 text-white rounded p-2">messaging</a></p>
<a href="/logout">Logout</a>
</body>
</html>